@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

/* Затемнение заднего фона */
.swiper-container {
  overflow: hidden;
}

#overlay {
  display: none;
  /* По умолчанию скрыто */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Полупрозрачный черный */
  z-index: 999;
  /* Помещаем поверх всего остального контента */
}

html {
  scroll-behavior: smooth;
  overflow-y: scroll;
}

.container {
  width: 1294px;
  margin: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  background-color: #434242;
  border-top: 5px #809E26 solid;
}

.flex_head {
  height: 68px;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Стили для модального окна */
  /* Стили для модального окна */
  /* Стили для элементов формы в модальном окне */
  /* Стили для кнопки закрытия модального окна */
}
.flex_head nav {
  width: 736px;
  margin: 0 30px 0 30px;
}
.flex_head a {
  color: white;
}
.flex_head .li_f {
  width: 81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex_head #callBackModal {
  display: none;
  /* По умолчанию скрыто */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  /* Увеличенная ширина */
  padding: 30px;
  /* Увеличенная высота */
  background-color: #fff;
  padding: 50px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  /* Тень */
  z-index: 1000;
}
.flex_head #callBackModal .fl {
  display: flex;
  position: relative;
}
.flex_head #callBackModal label {
  margin-left: 11px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 260px;
  padding-left: 13px;
}
.flex_head #callBackModal span {
  content: "";
  top: 1px;
  width: 13px;
  height: 13px;
  background: url(../img/notcheck.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.flex_head #callBackModal .radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
}
.flex_head #callBackModal input[type=checkbox]:checked + span {
  background: url(../img/check.svg);
}
.flex_head #callBackModal .mom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}
.flex_head #callBackModal input[type=text],
.flex_head #callBackModal input[type=number],
.flex_head #callBackModal button {
  display: block;
  width: 100%;
  /* Учитываем внутренний отступ */
  margin-bottom: 20px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
}
.flex_head #callBackModal button {
  margin-bottom: 0;
}
.flex_head #callBackModal input[type=text]:focus {
  border: 3px solid #718926;
}
.flex_head #callBackModal input[type=number]:focus {
  border: 3px solid #718926;
}
.flex_head #callBackModal button {
  background-color: #718926;
  color: #fff;
  border: none;
  cursor: pointer;
}
.flex_head .closeB:hover {
  transform: scale(1.2);
  transition: 0.2s;
}
.flex_head #callBackModal button:hover {
  background-color: #3a4810;
}
.flex_head .closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  cursor: pointer;
}
.flex_head .ul_fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.flex_head .ul_fl .rel {
  position: relative;
}
.flex_head .ul_fl .rel:hover .big {
  opacity: 1;
  z-index: 2;
}
.flex_head .ul_fl .rel .big {
  position: absolute;
  bottom: -108%;
  left: 0;
  opacity: 0;
  cursor: auto;
  z-index: -1;
  display: block;
  width: 208px;
  height: 73px;
}
.flex_head .ul_fl .rel .big .mid {
  position: relative;
  width: 100%;
  height: 100%;
}
.flex_head .ul_fl .rel .big .small {
  width: 123px;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #718926;
}
.flex_head .ul_fl .rel .big .small .fl {
  padding: 10px 0;
  text-align: center;
  position: relative;
  line-height: 0;
}
.flex_head .ul_fl .rel .big .small .fl a:not(:last-child) {
  margin-right: 6px;
}
.flex_head .ul_fl .rel .big .small .fl::before {
  content: "";
  border: 15px solid transparent;
  border-bottom: 13px solid #718926;
  border-left: 15px solid #718926;
  position: absolute;
  top: -25%;
  z-index: -1;
  left: 0;
}
.flex_head .ul_fl li {
  position: relative;
  cursor: pointer;
  line-height: 68px;
}
.flex_head .ul_fl li:hover::after {
  opacity: 1;
  display: block;
}
.flex_head .ul_fl li::after {
  content: "";
  width: 100%;
  height: 15px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #809E26;
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  /* Плавное появление с продолжительностью 0.3 секунды */
}
.flex_head .ul_fl li:not(:last-child) {
  margin-right: 20px;
}
.flex_head .retCall {
  width: 190px;
  line-height: 31px;
  background-color: #809E26;
  border-radius: 3px;
  text-align: center;
}
.flex_head .retCall:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.bg1 {
  background-image: url(../img/Clip\ path\ group.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -3px;
}

.restangle {
  width: 85%;
  text-align: left;
  padding: 106px 0 171px;
  color: white;
}
.restangle .txt {
  width: 592px;
}
.restangle .txt h1 {
  font-size: 58px;
  font-weight: 400;
}
.restangle .txt h2 {
  font-size: 38.5px;
  padding-bottom: 62px;
  font-weight: 400;
}
.restangle .txt a {
  color: white;
  width: 225px;
  display: inline-block;
  line-height: 51px;
  border-radius: 3px;
  text-align: center;
  background-color: #809E26;
}
.restangle .txt a:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

main .line {
  background-color: #809E26;
}
main .line .kat {
  line-height: 55.5px;
  font-size: 32px;
  color: white;
  font-weight: 400;
}

.sm button {
  line-height: 47px;
  width: 200px;
  color: white;
  background-color: #809E26;
  border-radius: 3px;
  font-weight: 300;
  font-size: 19px;
  margin: 16px 0 0 0;
  outline: none;
  border: none;
  cursor: pointer;
}
.sm button:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.butt {
  display: inline-block;
  line-height: 47px;
  width: 200px;
  color: white;
  background-color: #809E26;
  border-radius: 3px;
  font-weight: 300;
  font-size: 19px;
  margin: 16px 0 0 0;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}
.butt:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.sm .look {
  margin: 10px 0 0 0;
  margin-bottom: 42px;
  line-height: 47px;
  width: 200px;
  color: white;
  background-color: #809E26;
  border-radius: 3px;
  font-weight: 300;
  font-size: 19px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 13px 40px;
}
.sm .look:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}

.sm .flex_sl {
  display: flex;
  padding-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sm .swiper-button-next::after {
  display: none;
}
.sm .swiper-button-prev::after {
  display: none;
}
.sm .item {
  height: 339px;
  width: 49%;
  margin-bottom: 21px;
  border: 1px #C5C6C6 solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sm .item .swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.swiper-container {
  position: relative;
  width: 59%;
  overflow: hidden;
  height: 100%;
  min-width: 0;
}

.flex_sl .swiper-pagination-bullet {
  background-color: transparent;
  width: 0;
  height: 0;
  border-bottom: 20px solid #434242;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
.flex_sl .swiper-pagination-bullet-active {
  width: 0;
  height: 0;
  border-bottom: 25px solid #809E26;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}
.flex_sl .swiper-pagination-bullet-active-main {
  width: 0;
  height: 0;
  border-bottom: 20px solid #809E26;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.info {
  font-weight: 300;
  width: 88%;
  height: 100%;
  background-color: #434242;
  border-left: 1px #C5C6C6 solid;
  padding: 0 0 21px 0;
  text-align: center;
}
.info .copy {
  padding: 13px 0 9px 32px;
  align-self: flex-start;
  text-align: left;
}
.info .copy .txt {
  color: white;
}
.info h3 {
  text-align: left;
  font-weight: 300;
  padding: 16px 0 0 32px;
  font-size: 24px;
  color: white;
}
.info .cop {
  color: #718926;
}
.info .fir {
  border-top: 1px solid #616161;
}
.info li {
  display: flex;
  padding-left: 32px;
  border-bottom: 1px solid #616161;
  align-items: center;
  padding-right: 13px;
  height: 28px;
}
.info li span {
  margin-left: 10px;
  color: white;
}

.fl-wr .myForm input[type=text]:focus {
  border: 3px solid #718926;
}
.fl-wr .myForm input[type=number]:focus {
  border: 3px solid #718926;
}

.rest1 {
  background-image: url(../img/Rectangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 36px 26px 70px 0;
  text-align: right;
  margin-bottom: 22px;
  margin-top: 42px;
}
.rest1 .fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}
.rest1 .fl .line {
  width: 80%;
  margin-right: 25px;
  height: 2px;
  background-color: #718926;
}
.rest1 .fl .about {
  font-size: 32px;
  color: #FEFEFE;
  width: 230px !important;
  padding: 0;
}
.rest1 p {
  font-weight: 300;
  max-width: 590px;
  color: #FEFEFE;
  font-size: 19px;
  padding-bottom: 20px;
  margin: 0 0 0 auto;
}

.rest22 {
  background-image: url(../img/rest2.svg) !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 25px 0 50px 51px;
}
.rest22 p {
  text-align: left;
  margin: 0 auto 0 0;
  max-width: 620px;
  font-size: 19px;
  color: #FEFEFE;
  font-weight: 300;
}
.rest22 .fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 53px;
}
.rest22 .about {
  font-size: 32px;
  color: #FEFEFE;
  width: 280px !important;
  margin-right: 25px;
  padding: 0;
}
.rest22 .fl .line {
  width: 75%;
  height: 2px;
  background-color: #718926;
}

.wrapp {
  width: 1000px;
  margin: auto;
  padding-bottom: 68px;
}
.wrapp .one {
  font-size: 57px;
  font-weight: bold;
  color: #809E26;
}
.wrapp .two {
  font-size: 44px;
  color: #434242;
  font-weight: 300;
  line-height: 57px;
}
.wrapp .fl-wr {
  padding-top: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapp .fl-wr .down {
  line-height: 58px;
  width: 312px;
  font-size: 21px;
  color: white;
  border-radius: 3px;
  background-color: #809E26;
  text-align: center;
  font-weight: 300;
}
.wrapp .fl-wr .rest {
  width: 1.7px;
  height: 182.5px;
  background-color: #718926;
}
.wrapp .fl-wr form {
  width: 578px;
}
.wrapp .fl-wr form .txt {
  width: 100%;
  line-height: 45px;
  border: 1.5px solid #809E26;
  padding: 0 11px 0 11px;
  outline: none;
}
.wrapp .fl-wr form .txt::-moz-placeholder {
  font-size: 18px;
  color: #B2B3B3;
  line-height: 45px;
}
.wrapp .fl-wr form .txt::placeholder {
  font-size: 18px;
  color: #B2B3B3;
  line-height: 45px;
}
.wrapp .fl-wr form .fl {
  display: flex;
  position: relative;
}
.wrapp .fl-wr form label {
  margin-left: 11px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 280px;
  padding-left: 13px;
}
.wrapp .fl-wr form span {
  content: "";
  top: 1px;
  width: 13px;
  height: 13px;
  background: url(../img/notcheck.svg);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  position: absolute;
  left: 0;
  cursor: pointer;
}
.wrapp .fl-wr form .radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
}
.wrapp .fl-wr form input[type=checkbox]:checked + span {
  background: url(../img/check.svg);
}
.wrapp .fl-wr form .mom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-end;
}

footer {
  font-weight: 300;
  color: white;
  background-color: #434242;
  padding: 30px 0 20px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #718926;
}
footer .fl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 25px;
}
footer .fl .carta {
  width: 400px;
  height: 250px;
}
footer .fl .carta .c {
  height: 100%;
}
footer .line {
  height: 2.7px;
  width: 100%;
  background-color: #809E26;
}
footer ul {
  font-size: 14px;
  line-height: 18px;
}
footer .kont {
  font-size: 22px;
  color: #809E26;
  padding-bottom: 7px;
}
footer .confid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  font-size: 19px;
}
footer .confid .conftxt {
  font-size: 14px;
}
footer .mess {
  padding-top: 11px;
}
footer .one {
  font-size: 22px;
}
footer .one a {
  line-height: 30px;
}
footer .one .wb {
  padding-top: 10px;
}

#breadcrumbs {
  padding: 30px 0;
  font-size: 24px;
  font-weight: 300;
  color: #434242;
}
#breadcrumbs a {
  color: #434242;
}
#breadcrumbs #gr {
  color: #809E26;
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.flex-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}
.flex-card .swiper-container {
  overflow: hidden;
}
.flex-card .swiper-p {
  border: 1.5px solid #C5C6C6;
  margin-bottom: 22px;
}
.flex-card .wr1 {
  width: 480px;
  border: 1.5px solid #C5C6C6;
  height: 390px;
}
.flex-card .wr1 .swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}
.flex-card .wr1 .sc img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
}
.flex-card .swiper-button-prev::after {
  display: none;
}
.flex-card .swiper-button-next::after {
  display: none;
}
.flex-card .sw-small {
  width: 480px;
  height: 128px;
}
.flex-card .sw-small .one {
  background-image: url(../img/bg-sl11.svg);
}
.flex-card .sw-small .two {
  background-image: url(../img/bg-sl12.svg);
}
.flex-card .sw-small .three {
  background-image: url(../img/bg-sl13.svg);
}
.flex-card .sw-small .four {
  background-image: url(../img/bg-sl14.svg);
}
.flex-card .sw-small .swiper-slide {
  border: 1px solid #C5C6C6;
  opacity: 0.2;
  transition: opacity 0.3s ease 0;
  cursor: pointer;
  background-size: cover;
  background-repeat: no-repeat;
}
.flex-card .sw-small .swiper-slide .one {
  background-image: url(../img/bg-sl11.svg);
}
.flex-card .sw-small .swiper-slide .two {
  background-image: url(../img/bg-sl12.svg);
}
.flex-card .sw-small .swiper-slide .three {
  background-image: url(../img/bg-sl13.svg);
}
.flex-card .sw-small .swiper-slide .four {
  background-image: url(../img/bg-sl14.svg);
}
.flex-card .sw-small .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
.flex-card h2 {
  font-size: 29px;
  color: #809E26;
}
.flex-card h3 {
  padding: 75px 0 26px;
}
.flex-card ul {
  padding-bottom: 31px;
}
.flex-card li {
  color: #434242;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 27px;
}
.flex-card li:not(:last-child) {
  border-bottom: 0.7px solid #B2B3B3;
}
.flex-card .fl-buy {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-card .fl-buy .prize {
  font-size: 45px;
  font-weight: bold;
  color: #809E26;
}

.opis {
  padding-bottom: 34px;
}
.opis .t1 {
  color: #434242;
  padding-bottom: 15px;
  font-size: 32px;
}
.opis .t2 {
  color: #2B2A29;
  font-size: 18px;
  line-height: 26px;
}

.lookthat {
  padding-bottom: 27px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.lookthat .t {
  font-size: 32px;
  color: #434242;
}
.lookthat .line {
  margin: 0;
  height: 1.89px;
  background-color: #718926;
  width: 77%;
}

.sl2 {
  padding-bottom: 93px;
}
.sl2 .swiper-pagination-bullet {
  background-color: transparent;
  width: 0;
  height: 0;
  border-bottom: 13px solid #434242;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.sl2 .swiper-pagination-bullet-active {
  width: 0;
  height: 0;
  border-bottom: 17px solid #809E26;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
}
.sl2 .swiper-pagination-bullet-active-main {
  width: 0;
  height: 0;
  border-bottom: 13px solid #809E26;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
}
.sl2 .item {
  width: 32.5%;
  height: 225px;
}
.sl2 .swiper-container {
  width: 224px;
}
.sl2 .swiper-slide {
  width: 224px;
}
.sl2 .swiper-button-prev {
  width: 13.3px;
  height: 23.3px;
}
.sl2 .swiper-button-next {
  width: 13.3px;
  height: 23.3px;
}
.sl2 .info {
  width: 196px;
}
.sl2 .info h3 {
  font-size: 16px;
  padding: 10px 0 0 21px;
}
.sl2 .info ul li:not(:last-child) {
  border-bottom: 0.5px solid #616161;
}
.sl2 .info li {
  font-size: 10px;
  line-height: 18px;
  height: 18px;
  padding-left: 21px;
}
.sl2 .info .cart {
  width: 150px;
  font-size: 12px;
  display: inline-block;
  margin-top: 10px;
  line-height: 32px;
  color: #ffffff;
  background-color: #809E26;
  border-radius: 3px;
  font-weight: 300;
}
.sl2 .info .cart:hover {
  transform: scale(1.1);
  transition: 0.2s ease;
}
.sl2 .copy {
  padding: 9px 0 6px 23px;
}
.sl2 .cop {
  font-size: 10px;
}
.sl2 .txt {
  font-size: 10px;
}
.flex-card .sw-small2 {
  width: 480px;
  height: 128px;
}
.flex-card .sw-small2 .one {
  background-image: url(../img/bg-sl21.svg);
}
.flex-card .sw-small2 .two {
  background-image: url(../img/bg-sl22.svg);
}
.flex-card .sw-small2 .three {
  background-image: url(../img/bg-sl23.svg);
}
.flex-card .sw-small2 .four {
  background-image: url(../img/bg-sl24.svg);
}

.flex-card .sw-small3 {
  width: 480px;
  height: 128px;
}
.flex-card .sw-small3 .one {
  background-image: url(../img/bg-sl31.svg);
}
.flex-card .sw-small3 .two {
  background-image: url(../img/bg-sl32.svg);
}
.flex-card .sw-small3 .three {
  background-image: url(../img/bg-sl33.svg);
}
.flex-card .sw-small3 .four {
  background-image: url(../img/bg-sl34.svg);
}

.mob-menu {
  display: none;
}

.mob-ul {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  z-index: -2;
  width: 200px;
  background-color: #809E26;
  padding: 25px;
  width: 55%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}
.mob-ul li:not(:last-child) {
  margin-bottom: 10px;
}
.mob-ul .wr {
  position: relative;
}
.mob-ul .wr .close {
  position: absolute;
  width: 20px;
  right: -15px;
  top: -17px;
}

.mob-ul.active .big {
  margin-top: 20px;
}

.fl-t {
  display: flex;
  align-items: center;
}
.fl-t #menu-toggle {
  margin-left: 30px;
}

.mob-ul.active {
  max-height: 100vh;
}

.active {
  display: block;
  opacity: 1;
  z-index: 100;
}

@media (max-width: 1320px) {
  .container {
    width: 90%;
    margin: auto;
  }
  .container nav {
    width: 67%;
  }
}
@media (max-width: 1208px) {
  .flex_head .ul_fl li {
    line-height: 25px;
  }
  .flex_head .ul_fl .rel .big {
    bottom: -270%;
  }
  .flex_head .ul_fl li::after {
    display: none !important;
  }
  .flex-card {
    flex-direction: column;
  }
  .flex-card .txt {
    padding-top: 30px;
  }
  .flex-card h3 {
    padding: 26px 0;
  }
  .sl2 .info .cart {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  .sm .flex_sl {
    flex-direction: column;
    align-content: center;
  }
  .sm .flex_sl .item {
    width: 634px;
  }
  .sm .sl2 .item {
    width: 32.5%;
    height: 241px;
  }
  .cen {
    text-align: center;
  }
  .sm .look {
    margin: auto;
  }
  .wrapp {
    text-align: center;
    width: 100%;
  }
  .wrapp .fl-wr {
    flex-direction: column;
  }
  .wrapp .fl-wr .rest {
    display: none;
  }
  .wrapp .fl-wr .down {
    margin-top: 25px;
  }
  .carta {
    margin: 0 20px 20px 20px;
  }
  footer .fl {
    width: 700px;
    margin: auto;
    flex-wrap: wrap;
  }
  footer .fl .one {
    width: 50%;
  }
}
@media (max-width: 1077px) {
  .sm .sl2 .item {
    width: 315px !important;
  }
  .sm .sl2 {
    justify-content: space-evenly;
  }
}
@media (max-width: 1150px) {
  .sl2 .item {
    width: 32.5%;
    height: 241px;
  }
  .sl2 .info h3 {
    padding-right: 20px;
  }
  .sm .sl2 {
    flex-wrap: wrap;
    flex-direction: row;
  }
}
@media (max-width: 885px) {
  .flex_head #callBackModal {
    width: 80%;
  }
}
@media (max-width: 767px) {
  .flex_head .im {
    width: 100px;
  }
  .flex_head .retCall {
    width: 140px;
    line-height: 16px;
    font-size: 15px;
  }
  #callBackModal button {
    margin-bottom: 0;
    width: 63%;
  }
  footer .fl .carta {
    width: 100%;
    margin-top: 20px;
  }
  footer .fl {
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 665px) {
  .flex_head #callBackModal .mom {
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
  }
  .flex_head #callBackModal .mom .fl {
    margin-bottom: 15px;
    width: 100%;
  }
  .flex_head #callBackModal .mom .fl label {
    width: 100%;
  }
  .sm .flex_sl .swiper-pagination-bullet {
    background-color: transparent;
    width: 0;
    height: 0;
    border-bottom: 13px solid #434242;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .sm .flex_sl .swiper-pagination-bullet-active {
    width: 0;
    height: 0;
    border-bottom: 17px solid #809E26;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }
  .sm .flex_sl .swiper-pagination-bullet-active-main {
    width: 0;
    height: 0;
    border-bottom: 13px solid #809E26;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
  }
  .sm .flex_sl .item {
    width: 415px;
    height: 225px;
  }
  .sm .flex_sl .swiper-container {
    width: 224px;
  }
  .sm .flex_sl .swiper-slide {
    width: 224px;
  }
  .sm .flex_sl .swiper-button-prev {
    width: 13.3px;
    height: 23.3px;
  }
  .sm .flex_sl .swiper-button-next {
    width: 13.3px;
    height: 23.3px;
  }
  .sm .flex_sl .info {
    width: 196px;
  }
  .sm .flex_sl .info h3 {
    font-size: 16px;
    padding: 10px 0 0 21px;
  }
  .sm .flex_sl .info ul li:not(:last-child) {
    border-bottom: 0.5px solid #616161;
  }
  .sm .flex_sl .info li {
    font-size: 10px;
    line-height: 18px;
    height: 18px;
    padding-left: 21px;
  }
  .sm .flex_sl .info .cart {
    width: 150px;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    line-height: 32px;
    color: #ffffff;
    background-color: #809E26;
    border-radius: 3px;
    font-weight: 300;
  }
  .sm .flex_sl .info .cart:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
  }
  .sm .flex_sl .copy {
    padding: 9px 0 6px 23px;
  }
  .sm .flex_sl .butt {
    width: 150px;
    line-height: 32px;
    font-size: 12px;
    margin-top: 10px;
  }
  .sm .flex_sl .cop {
    font-size: 10px;
  }
  .sm .flex_sl .txt {
    font-size: 10px;
  }
  .sm .sl2 .item {
    height: 243px;
    width: 90%;
  }
  .sm .sl2 .item .cart {
    width: 90%;
  }
}
@media (max-width: 640px) {
  .restangle .txt {
    width: 100%;
  }
  .restangle .txt h1 {
    font-size: 35px;
  }
  .restangle .txt h2 {
    font-size: 20px;
    padding-bottom: 35px;
  }
  .restangle .txt main .line .kat {
    line-height: 40px;
    font-size: 22px;
  }
  .restangle .txt main .line .kat .restangle {
    padding: 40px 0 60px;
  }
  .wrapp .fl-wr form {
    width: 100%;
  }
}
@media (max-width: 590px) {
  nav {
    display: none;
  }
  .flex_head .retCall {
    display: none;
  }
  .im {
    display: none;
  }
  .mob-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
@media (max-width: 550px) {
  .wrapp .fl-wr form .mom {
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
  }
  .restangle .txt h1 {
    font-size: 25px;
    font-weight: bold;
  }
  .restangle .txt h2 {
    font-size: 18px;
  }
  .restangle {
    padding: 64px 0 91px;
  }
  main .line .kat {
    text-align: center;
  }
  .sm .flex_sl {
    padding-top: 23px;
  }
  .sm .item {
    margin-bottom: 12px;
  }
  .cen {
    padding-top: 8px;
  }
  .rest1 {
    margin: 17px 0 20px;
  }
  .wrapp {
    padding: 50px 0 0 0;
  }
  .wrapp .one {
    font-size: 42px;
  }
  .wrapp .two {
    font-size: 30px;
    line-height: 30px;
  }
  #submitButton2,
  .wrapp .fl-wr .down {
    font-size: 16px;
    width: 242px;
    line-height: 45px;
  }
  .wrapp .fl-wr {
    padding-bottom: 26px;
  }
  .flex-card .wr1 {
    width: 100%;
  }
  .slider-wr {
    width: 100%;
  }
  .flex-card .sw-small {
    width: 100%;
  }
}
@media (max-width: 460px) {
  footer .fl .one {
    width: 100%;
    margin-bottom: 25px;
  }
  footer {
    text-align: center;
  }
  .dele {
    display: none;
  }
  footer .confid .conftxt {
    margin: auto;
    display: inline-block;
  }
}
@media (max-width: 420px) {
  .sm .flex_sl .item {
    width: 100%;
    height: 247px;
  }
  .sm .flex_sl .butt {
    width: 90%;
  }
}
@media (max-width: 380px) {
  .rest22 .about {
    margin: 0;
    width: 100%;
    text-align: center;
  }
  .rest22 .fl {
    justify-content: center;
  }
  .rest22 .fl .rest2 {
    padding: 15px !important;
    text-align: center;
  }
  .rest22 .fl .rest2 p {
    text-align: center;
  }
  .rest22 .fl .rest22 .fl .line {
    display: none;
  }
  .rest22 .fl .rest1 .fl .line {
    display: none;
  }
  .rest22 .fl .rest1 {
    text-align: center;
    padding: 15px;
  }
  .rest22 .fl .rest1 .about {
    margin: auto;
  }
}/*# sourceMappingURL=style.css.map */